<h1>Attendance</h1>


<% form_tag("attendances", :method=>'post') do %> 
<%= submit_tag("Register Attendances", :style => "visibility:hidden", :id => "submit_attendance") %><br>

<div id="opendoor_students" style="float:left;margin-right:20px;margin-top:20px"> 
<h2>OpenDoor TaeKwonDo</h2>
<table>
  <tr style="background-color:#CCCCCC;">
  <th>Student</th>
  <th>Class<br/>1</th>
  <th>Class<br/>2</th>
  <th>Class<br/>3</th>
  <th>Class<br/>4</th>
  <th>Classes <br/>til test</th>
  <th>Eligible to<br/>test</th>
  </tr>


	<% for student in @opendoor_students %>
	  <tr style="background-color:<%=cycle('lightblue', 'white')%>">
	    <td align='left'><%= student.last_name%>, <%=student.first_name %></td>
	    <td align='center'><%= check_box("student#{student.id}", 'class_one', {:class => 'bigcheckbox'}) %></td>
	    <td align='center'><%= check_box("student#{student.id}", 'class_two', {:class => 'bigcheckbox'}) %></td>
	    <td align='center'><%= check_box("student#{student.id}", 'class_three', {:class => 'bigcheckbox'}) %></td>
		<td align='center'><%= check_box("student#{student.id}", 'class_four', {:class => 'bigcheckbox'}) %></td>
		<td align='center'><%= student.classes_needed_to_test %></td>
		<td align='center'><%= student.earliest_eligible_test_date %></td>
	  </tr>
	<% end %>
</table>
</div>

<div id="fairview_students" style="float:left;margin-right:20px;margin-top:20px">
<h2>Fairview TaeKwonDo</h2>
<table>
  <tr style="background-color:#CCCCCC;">
  <th>Student</th>
  <th>Class<br/>1</th>
  <th>Class <br/>2</th>
  <th>Class<br/>3</th>
  <th>Class<br/>4</th>
  <th>Classes <br/>til test</th>
  <th>Eligible to<br/>test</th>
  </tr>


	<% for student in @fairview_students %>
	  <tr style="background-color:<%=cycle('lightblue', 'white')%>">
	    <td align='left'><%= student.last_name%>, <%=student.first_name %></td>
	    <td align='center'><%= check_box("student#{student.id}", 'class_one', {:class => 'bigcheckbox'}) %></td>
	    <td align='center'><%= check_box("student#{student.id}", 'class_two', {:class => 'bigcheckbox'}) %></td>
	    <td align='center'><%= check_box("student#{student.id}", 'class_three', {:class => 'bigcheckbox'}) %></td>
		<td align='center'><%= check_box("student#{student.id}", 'class_four', {:class => 'bigcheckbox'}) %></td>
		<td align='center'><%= student.classes_needed_to_test %></td>
		<td align='center'><%= student.earliest_eligible_test_date %></td>
	  </tr>
	<% end %>
</table>	
</div>


<% end %>

